<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="dirCFD54C07EFB094CAD317543172D62CC3" Name="bin" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir614B99936005B9F3A6F53A2AB8647873">
            <Component Id="cmp045E58B353535196DE93AB3DD88C7E60" Guid="{C7A60821-D78E-482E-9E24-703831068E8A}">
                <File Id="fil70F6DD60964E5643A5794A7E9D5692B7" KeyPath="yes" Source="$(var.SourceDir)\liblzma.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir614B99936005B9F3A6F53A2AB8647873">
            <Component Id="cmp1C9AA77D8448335FF14D209269D303FB" Guid="{FD8139C8-3DDD-4979-BF29-B04E18C7849E}">
                <File Id="fil2041C64049E07FC64FFD0AC01938529A" KeyPath="yes" Source="$(var.SourceDir)\zstd.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir614B99936005B9F3A6F53A2AB8647873">
            <Component Id="cmp9E5C8B87C4336078C77F97D482E8A846" Guid="{E01DD731-39D9-4F44-BE96-D0AEC928DDA0}">
				<?ifndef Debug ?>
                    <File Id="fil5344F401E721D0EE1C451B4152B07524" KeyPath="yes" Source="$(var.SourceDir)\zlib1.dll" />
				<?endif ?>
				<?ifdef Debug ?>
				<File Id="fil5344F401E721D0EE1C451B4152B07524" KeyPath="yes" Source="$(var.SourceDir)\zlib1d.dll" />
				<?endif ?>
			</Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir614B99936005B9F3A6F53A2AB8647873">
            <Component Id="cmpBE91E3D1DCF5D7D14B63B03C999167FF" Guid="{6D0CA516-AC45-448C-800B-45A3027202B0}">
				<?ifndef Debug ?>
                    <File Id="fil800B4BB641418C768293FF385F77ABA5" KeyPath="yes" Source="$(var.SourceDir)\lz4.dll" />
				<?endif ?>
				<?ifdef Debug ?>
				<File Id="fil800B4BB641418C768293FF385F77ABA5" KeyPath="yes" Source="$(var.SourceDir)\lz4d.dll" />
				<?endif ?>
			</Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir614B99936005B9F3A6F53A2AB8647873">
            <Component Id="cmpF25CCE8A8FFFEC044B48916085716EEB" Guid="{B9DE5532-7009-4E6B-91FF-2A84739AFBF0}">
                <File Id="fil7651C247A15F28A3669BCCF7007CFCC9" KeyPath="yes" Source="$(var.SourceDir)\lzo2.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
       <Fragment>
        <DirectoryRef Id="dir44A9BEC44AEF2B7FC4810D3038764964">
            <Directory Id="dir07F8300EEEE457D383389C37E45F23D7" Name="$(var.Configuration)" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirCFD54C07EFB094CAD317543172D62CC3">
            <Directory Id="dir2C3C51B0687ECA62A56ABFC02063DFBE" Name="$(var.Platform)" />
        </DirectoryRef>
    </Fragment>
</Wix>