<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="BINDIR">
      <Component Id="static_binaries" Guid="{99683914-B6BD-444D-B6B3-E7CB923B6B93}">
        <File Id="squashfuse.exe" KeyPath="yes" Source="$(var.SourceDir)\squashfuse.exe" />
        <!--<File Id="squashfuse.exe" KeyPath="no" Source="$(var.SourceDir)\squashfuse.exe" />-->
        <File Id="squashfuse_extract.exe" KeyPath="no" Source="$(var.SourceDir)\squashfuse_extract.exe" />
        <File Id="squashfuse_ls.exe" KeyPath="no" Source="$(var.SourceDir)\squashfuse_ls.exe" />
        <File Id="squashfuse.dll" KeyPath="no" Source="$(var.SourceDir)\squashfuse.dll" />
        <File Id="mount.cmd" KeyPath="no" Source="$(var.LibDir)\..\..\..\..\squashfs-win\mount.cmd" />
        <File Id="findWinFsp.cmd" KeyPath="no" Source="$(var.LibDir)\..\..\..\..\squashfs-win\findWinFsp.cmd" />
        <File Id="umount.cmd" KeyPath="no" Source="$(var.LibDir)\..\..\..\..\squashfs-win\umount.cmd" />
        <File Id="squashfs_env" KeyPath="no" Source="$(var.LibDir)\..\..\..\..\squashfs-win\squashfs_env.cmd" />
      </Component>
      <?if $(var.Static) = 0?>
      <Component Id="dynamic_libs" Guid="{6A5567CE-B8CA-4C48-8082-C04BC8A9547E}">
		<?ifndef Debug ?>
            <File Id="lz4.dll" KeyPath="yes" Source="$(var.SourceDir)\lz4.dll" />
		<?endif ?>
		<?ifdef Debug ?>
		  <File Id="lz4.dll" KeyPath="yes" Source="$(var.SourceDir)\lz4d.dll" />
		<?endif ?>
        <File Id="liblzma.dll" KeyPath="no" Source="$(var.SourceDir)\liblzma.dll" />
        <File Id="libzstd.dll" KeyPath="no" Source="$(var.SourceDir)\zstd.dll" />
        <File Id="lzo2.dll" KeyPath="no" Source="$(var.SourceDir)\lzo2.dll" />
		<?ifndef Debug ?>
            <File Id="zlibwapi.dll" KeyPath="no" Source="$(var.SourceDir)\zlib1.dll" />
		<?endif ?>
		<?ifndef Debug ?>
		    <File Id="zlibwapi.dll" KeyPath="no" Source="$(var.SourceDir)\zlib1d.dll" />
        <?endif ?>
	  </Component>
      <?endif?>

    </DirectoryRef>
    <DirectoryRef Id="DOCDIR">
      <Component Id="help_files" Guid="{440E455A-4F02-4447-A600-28B1A3B493DF}">
        <File Id="help_doc" KeyPath="yes" Source="$(var.SourceDir)\help.html" />
        <File Id="help_css" KeyPath="no" Source="$(var.SourceDir)\github.css" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DOCIMG">
      <Component Id="help_images" Guid="{AEA57393-457C-45CE-A68A-5604AA0DB1FA}">
         <File Id="map_drive_image" KeyPath="no" Source="$(var.SourceDir)\images\MapNetworkDrive.jpg" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="C.Main">
      <ComponentRef Id="static_binaries" />
      <ComponentRef Id="help_files" />
      <ComponentRef Id="help_images" />
    </ComponentGroup>
    <?if $(var.Static) = 0?>
    <ComponentGroup Id="C.Libs">
      <ComponentRef Id="dynamic_libs" />
    </ComponentGroup>
    <?endif?>
  </Fragment>
</Wix>
